@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);

html,
body,
#root {
  /* background-color: purple; */
  height: 100%;
  margin: 0;
  padding: 0;
}

p,
a {
  margin: 0;
  padding: 0;
  font-family: IBM Plex Sans;
}

* {
  box-sizing: border-box;
}
